<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA"  />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!--
        Anunciamos que nuestra app depende de la existencia de la cámara en lel dispositivo.
        Si nuestra app usa la cámara pero no es estrictamente necesaria para su funcionamiento opnemos required = false.
        En tiempo de ejecución tenemos que verificar si existe cámara mediante el métpdp hasSystemFeature(PackageManager.FUTURE_CAMARA)-->
    -->

    <queries>
        <intent>
            <action android:name="android.media.action.VIEW" />
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.media.action.GET_CONTENT" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GrabarVideo"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>